# Ignore node_modules folder
using_tfjs/node_modules
Dog Disease Photos/
dataset/
using_flask/capstone
using_flask/venv
quantum-lambda-388103-6b9321f28922.json
# Bisa di-run pakai 'npm install' dulu misal butuh modulnya baru dijalankan - selama ada package.json aman kok :3